<div class="container">
    <div class="row rowPanel">
        <div class="col-md-offset-1 col-md-9">
            <div class="panel">
                <div class="panel-heading">
                    <h1 class="text-center h1 display-5 text-white">Login</h1>
                </div>
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="panel-body text-white">
                        <div class="col-8 mx-auto">
                            <div class="mb-3">
                                <label for="username" class="form-label fw-bold">Username</label>
                                <input type="text" class="form-control" name="username" [(ngModel)]="form.username"
                                    required #username="ngModel" />
                                <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
                                    Username is required!
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label fw-bold">Password</label>
                                <input type="password" class="form-control" name="password" [(ngModel)]="form.password"
                                    #password="ngModel" />

                            </div>
                        </div>

                    </div>
                    <div class="panel-footer py-3">
                        <button class="btn btn-light action-button d-block mx-auto px-4 py-2" type="submit">
                            Login
                        </button>
                    </div>

                    <div class="mb-3">
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                            Username or password is incorrect!
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>