<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/home']">Home <i class="bi bi-house"></i></a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active">
                    Hi <span>{{CurrentUser}}</span> 👋
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/logout']">logout <i class="bi bi-box-arrow-right"></i></a>
            </li>
        </ul>
    </div>
</nav>